body {
    background-color: #D2B48C;
}

.wrap {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 25px;
}

.headerImg {

    float: left;
    width: 200px;
}

.headerText {

    float: left;
    height: 105px;
    padding-top: 50px;
    padding-left: 25px;
}
.header {
    background-color: tan;
    text-align: left;
    padding: 25px;
}

.main {
    background-color: pink;
    text-align: left;
    padding: 25px;
}

.footer {
    background-color: #49954D;
    text-align: left;
    padding: 25px;    
}

table.list {
	border-spacing: 1px;
	border-collapse: seperate;
	margin: 20px 10px;
	width: 700px;
}

input[readonly]{
    background-color: gray;
}



table.list th {
	color: #696969;
        background: #FFFF99;
        padding: 10px;
        vertical-align: top;
        
}

table.list td {
	color: #FFFFFF;
        background: #F08080;
        padding: 10px;
        vertical-align: top;


}

table.add {
	border-spacing: 1px;
	border-collapse: seperate;
	margin: 20px 10px;
	width: 700px;
}

table.add th {
	color: #F08080;
        background: #FFFF99;
        padding: 10px;
        vertical-align: top;

}

table.add td {
	color: #FFFFFF;
        background: #F08080;
        padding: 10px;
        vertical-align: top;

}

.navcontainer { margin-left: 30px; text-align: left;}

.navlist
{
list-style: none;
padding: 0;
margin: 0;
}

.navlist li
{
display: inline;
padding: 0;
margin: 0;
}

.navlist li:before { content: "| "; }
.navlist li:first-child:before { content: ""; }


* html #navlist li
{
border-left: 1px solid black;
padding: 0 0.4em 0 0.4em;
margin: 0 0.4em 0 -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #navlist { height: 1%; }

* html #navlist li
{
display: block;
float: left;
}
